.project-preview {
  padding: 20px;
  border-bottom: 1px solid $base-border-color;
  @include clearfix;

  div.image {
    @include span-columns(4 of 12);
  }

  div.description {
    @include span-columns(8 of 12);
  }

  h1 {
    font-size: 1.2em;
  }

  p {
    font-size: .8em;
    font-style: italic;
  }
}
