<nav>
  <ul>
    <li>
      <%= link_to "Kevin Mark", "index.html", :class => 'blog-title' %>
      <span>
        <%= link_to "Projects", "index.html", :class => 'about' %>
        <%= link_to "Blog", "blog.html", :class => 'blog' %>
        <%= link_to "About", "about.html", :class => 'about' %>
      </span>
    </li>
  </ul>
</nav>