<h1>About</h1>

<p>I am a web developer who is passionate about furthering technology and inspiring the future generation.</p>

<p>As a former Server Systems Engineer, I have a background in supporting a software application at a very low level (server, storage, and OS setup). I was also able to develop a very strong suite of troubleshooting and problem solving skills. While on the job, I had the opportunity to explore shell scripting and internal tools development and found that I loved the aspect of bringing a software program to life.</p>

<p>I strive to create code that is beautiful, simple, and elegant. I’m looking for a position as a Software Developer where I can tackle interesting and difficult problems that impact society.</p>

<p>Feel free to connect with me at kmark1625@gmail.com.</p>