---
title: My Projects
---
<ul>
  <% data.projects.each do |project| %>
    <li>
      <section class="project-preview">
        <div class="image">
          <p><img src="/images/<%= project.image %>"></p>
        </div>
        <div class="description">
          <h1><a href="<%=project.url%>"><%= project.name %></a></h1>
          <p><%= project.description %></p>
        </div>
      </section>
    </li>
  <% end %>
</ul>
